.App {
  text-align: center;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  padding: 20px 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.header a.logo {
  background-image: url("./components/Logo/brain.png");
  font-weight: bold;
  height: 64px;
  width: 64px;
}

.header a.logo:hover {
  background-color: #d64d84;
}

.header a:hover {
  background-color: #0d91a0;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
    cursor: pointer;
  }
}

.center {
  display: flex;
  justify-content: center;
}


button {
  cursor: pointer;
}